
<head>
    <title>None Search</title>
    <%- include('./include/header.ejs'); %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="/three.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,700');
        @import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700"');

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
        }

        body {
            padding: 100px;
            background: linear-gradient(159deg, rgb(17, 17, 30) 0%, rgba(96,31,85,1) 50%, rgba(29,30,34,1) 100%);
            overflow: hidden;
        }

        #heading {
            color: #fff;
            font-family: 'Inconsolata'
        }

        .custom-search form {
            padding: 0;
            margin: 0;
        }

        .custom-search input {
            font-family: 'Roboto';
            font-size: 15px;
            margin: 0;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            background: #1d1e22;
            color: rgba(255, 255, 255, 0.8);
            transition: all .2s ease;
            width: 100%;
            max-width: 500px;
        }

        .custom-search input:hover {
            background: #141729
        }

        .custom-search input:focus {
            background: #141729;
            color: #ffffff;
            outline: none;
        }

        .foot {
            padding: 30px;
        }

        .foot a {
            color: rgba(255, 255, 255, 0.8);
            text-decoration: none;
            font-family: 'Roboto';
        }

        .foot a:hover {
            color: #4e64b0;
        }
    </style>

</head>
<body >
<script src="/background.js"></script>
<center>
    <h1 id='heading'>None search engine</h1>
    <div class='custom-search'>
        <form id='searchform' action='/search' method="post">
            <input id='search-form' name='search' type='text' placeholder='Search here ...' />
        </form>
    </div>
    <div class='foot'>
        <a href='https://www.openai.com' target='_blank'>Powered by Open AI</a><br>
        <a href='https://www.patreon.com/none_dev' target='_blank'>Support on Patreon</a>
        <a>Indexed <% count %> Webpages.</a>
    </div>
</center>


</body>